**.orig
*.rbc
*.sassc
.DS_Store
.rspec
.rvmrc
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/db/schema.rb
/log/*
/public/system/*
/public/system
/log
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/database.yml
config/application.yml
Gemfile.lock
pickle-email-*.html
public/assets
public/cache
public/*.rar
public/*.zip
rerun.txt
script/seoserver/*.log
script/seoserver/node_modules/