.extra_informations
  %ul
    %li.events @eventos
    %li.rotary_experience @exp_rotativa
    %li.zerolag @zerolag

  .info_events
    WOE / Mushroom / Endless Tower
  .info_rotary_experience
    Em horas multiplas de 3, a experiência fica 1,5x em mapas aleatórios
    Para saber qual é o mapa atual basta usar @rotary_exp
  .info_zerolag
    Digite @zerolag para saber qual é a latencia entre você e o servidor