#join
  .call_to_action
    =link_to '/register/', class: 'bt_register', title: 'Cadastro' do
      %h2 CADASTRO

    =link_to '/register/', class: 'bt_download', title: 'Download do Jogo' do
      %h2 DOWNLOAD