.informations
  %h2 Informações
  %ul
    %li @commands
    %li @rates
    %LI @game_conf
    %li @server_conf

  .commands
    %ul
      %li @rates
      %li @mobsearch
      %li @noks
      %li @mail
      %li @uptime

  .rates
    %ul
      %li Base: 100x
      %li Job: 100x
      %li Drops: 50x
      %li Cards: 30x
      %li MVP Drop: 50x
      %li MVP Cards: 0,01%

  .game_info
    %ul
      %li Episódio: El Dicastes(Ultimo)
      %li Nivel Máximo: Base/Classe: 175/70
      %li Clãs: Ranking e sistema de premiação mensal
      %li PVP: Ranking e Premiação mensal

  .server_conf
    %ul
      %li 24/7 Uptime 99,9%
      %li Debian 7blabla
      %li Conexão: 10Gbits
      %li Datacenter: México