#informations
  %h2 Informações
  %ul.navigation-list#carousel-navigation
    %li.slip @commands
    %li.slip @rates
    %li.slip @game_conf
    %li.slip @server_conf

  .commands
    %ul.navigation-list#carousel-navigation
      %li.slip @rates
      %li.slip @mobsearch
      %li.slip @noks
      %li.slip @mail
      %li.slip @uptime

  .rates
    %ul.navigation-list#carousel-navigation
      %li.slip Base: 100x
      %li.slip Job: 100x
      %li.slip Drops: 50x
      %li.slip Cards: 30x
      %li.slip MVP Drop: 50x
      %li.slip MVP Cards: 0,01%

  .game_info
    %ul.navigation-list#carousel-navigation
      %li.slip Episódio: El Dicastes(Ultimo)
      %li.slip Nivel Máximo: Base/Classe: 175/70
      %li.slip Clãs: Ranking e sistema de premiação mensal
      %li.slip PVP: Ranking e Premiação mensal

  .server_conf
    %ul.navigation-list#carousel-navigation
      %li.slip 24/7 Uptime 99,9%
      %li.slip Debian 7blabla
      %li.slip Conexão: 10Gbits
      %li.slip Datacenter: México


.slide .next-generation.active.animated.fadeInLeft