// *************************************
//
//   Grid
//
// *************************************

.grid
  +clearfix
// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
%section-item
  @extend %grid-box--8of10
  height: 300px
  position: relative
  margin-bottom: 20px
  margin: 20px auto
  background: #f7f4ef

.grid > div
  +clearfix

h2, h3
  background: #fff
  color: #e67d69
  text-align: center
  +inline-block
  font-weight: bold
  margin: 100px 50px
  border: 1px solid #e4dad2
  padding: 10px

ul li
  color: #e67d69
  background: #fff
  border: 1px solid #e4dad2
  padding: 10px