.logo

.downloads
  width: 344px
  margin: 0 auto
  padding-bottom: 15px
  li
    display: inline-block
    +border-radius(4px)
    height: 15px
    padding: 20px 10px
    width: 150px
    background: #633044