#join
  @extend %section-item
  a.bt_register h2, a.bt_download h2
    +background-image(linear-gradient(bottom, #bd3900 0%, #cf4a0a 100%))
    +box-shadow(inset 0px 1px 0px #8f2d03, 0px 1px 0px #fff)
    +border-radius(5px)
    background-color: #bd3900
    border: solid 1px #8f2d03
    color: #fff
    font-size: 12px
    padding: 20px
    position: relative
    text-decoration:none

  a.bt_register h2::before, a.bt_download h2::before
    +border-radius(5px)
    +box-shadow(inset 0px 1px 1px #8f2d03, 0px 1px 0px #fff)
    background-color: #8f2d03
    content: ""
    display: block
    height: 100%
    left: -8px
    padding: 8px
    position: absolute
    top: -8px
    width: 100%
    z-index: -1

  a.bt_register h2:active, a.bt_download h2:active
    +background-image(linear-gradient(bottom, #bd3900 0%, #ea5e1b 100%))
    padding-bottom: 18px
    padding-left: 20px
    padding-right: 20px
    padding-top: 22px
    top: 1px