nav
  @extend %grid-box--8of10
  height: 40px
  background: #ccc
  position: relative
  margin: 0 auto
  a
    text-decoration: none
    color: #FFF
    font-weight: bold
    padding: 0 40px
    line-height: 40px