header
  background: #555
  nav
    @extend %grid-box--8of10
    height: 40px
    position: relative
    margin: 0 auto
    a
      text-decoration: none
      color: #FFF
      font-weight: bold
      padding: 0 40px
      line-height: 40px

.header
  background-color: #292f36

.header__link
  color: #fff
  text-decoration: none
  border: 0

.header__link:focus
  outline: 0
  background-color: rgba(78,205,196,0.1)

.header__link:hover .icon
  color: #4ecdc4

.header--fixed
  position: fixed
  z-index: 10
  right: 0
  left: 0
  top: 0